body {
    font-family: 'Lato', sans-serif;
    background: #ffffff;;
}

.bar {
    background-color: #304b8a;
    width: 100%;
    height: 7em;
}

header {
    margin-top: 75px;
}

.navbar {
    font-size: 17px;
}

.first {
    color: #fff;
    width:  40px; 
    padding-left: 25px;
    padding-right: 25px;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 15px;
    background: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.first:hover,
.first:focus {
    background-color: #f7c631;
    color: #fff;
    transition: background-color .5s ease-out;
}

#info-one {
    background-color: #304b8a;
    margin-top: 2em;
    margin-bottom: 0;
    text-align: center;
}

.crown {
    margin-top: 14em;
}

.arrow {
    color: white;
    margin-top: 4em;
    margin-bottom: 3.55em;
}

.tria {
    position: absolute;
    right: 0em;
    top: 52em;
    width: 0;
    height: 0; 
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-right: 200px solid #347EFD;    
}

#info-two {
    background-color: #fff;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}

.corona {
    margin-top: 8em;
}

.montserrat-one {
    color: #347EFD;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.montserrat-two {
    margin-top: 1em;
    color: #304b8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 40px;
}

.prime {
    color: #304b8a;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 25px;
    background: none;
    border-radius: 15px;
}

.prime:hover,
.prime:focus {
    background-color: #54f0db;
    color: #fff;
    transition: background-color .5s ease-out;
}

.montserrat-three {
    margin-top: 4em;
    margin-bottom: 0;
    padding-top: 3em;
    padding-bottom: 0;
    color: #304b8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.flecha {
    color: #f7c631;
    margin-top: -30px;
    margin-bottom: 0;
}

.about {
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.iconos {
    color: #304b8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    background-color: #fff;
}

.block strong {
    color: #347EFD;
}

.tria-dos {
    position: absolute;
    left: 0em;
    top: 102em;
    width: 0;
    height: 0; 
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 200px solid #54f0db;
}

#info-three {
    background-color: #fff;
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 4em;

}

.montserrat-four {
    margin-top: 2em;
    color: #347EFD;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 1em;
}

.fa-briefcase {
    color: #304b8a;
    margin-bottom: 0;
}

.fa-poll {
    color: #304b8a;
    margin-bottom: 0;
}

.fa-ad {
    color: #304b8a;
    margin-bottom: 0;
}

.fa-handshake {
    color: #304b8a;
    margin-bottom: 0;
}

.fa-money-bill-alt {
    color: #304b8a;
    margin-bottom: 0;
}

.fa-comments-dollar {
    color: #304b8a;
    margin-bottom: 0;
}

.montserrat-five {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #f77e7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 25px;
}

.mensaje {
    color: #304b8a;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 25px;
    background: #54f0db;
    border-radius: 15px;
    margin-top: .5em;
}

.mensaje:hover,
.mensaje:focus {
    background-color: #25d366;
    color: #fff;
    transition: background-color .5s ease-out;
}

.tria-tres {
    position: absolute;
    right: 0em;
    top: 160.1em;
    width: 0;
    height: 0; 
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-right: 200px solid #f77e7e;
}

#info-four {
    background-color: #304b8a;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 8em;
    padding-top: 5em;
}

#curso {
    background-color: #304b8a;
    margin-top: 5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 8em;
    padding-top: 5em;
}

.montserrat-six {
    margin-top: 2em;
    color: #f77e7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding: 0;
    margin-bottom: 0;
}

.montserrat-twelve {
    margin-top: 1em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 40px;
}

.lista {
    padding: 0;
}

.lista span {
    color: #f77e7e;
    font-size: 60px;
    position: center;
    line-height: 40px;
}

.paga {
    border-radius: 15px;
    margin-top: 4em;
    margin-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: 0;
}

.montserrat-seven {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: #f7c631;
}

#info-five {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    padding-top: 4em;
}

.montserrat-eight {
    color: #304b8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 25px;
}

.prime-two {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: .7em;
    padding-bottom: .7em;
    background: #fff;
    border-radius: 15px;
}

.prime-two:hover,
.prime-two:focus {
    background-color: #54f0db;
    color: #fff;
    transition: background-color .5s ease-out;
}

.tria-cuatro {
    position: absolute;
    left: 0em;
    top: 221.3em;
    width: 0;
    height: 0; 
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 200px solid #f7c631;
}

.montserrat-eleven {
    margin-top: 0;
    color: #347EFD;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding: 0;
    margin-bottom: 0;
}

.montserrat-nine {
    margin-top: 0;
    margin-bottom: 1em;
    color: #f7c631;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 40px;
}

.montserrat-ten {
    list-style-type: none;
    margin-top: 1em;
    color: #304b8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 45px;
}

.fa-crown {
    color: #f7c631;
    font-size: 28px;
    margin-right: 1em;
}

.montserrat-thirteen {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

.texto-curso {
    border-radius: 15px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.iconos-dos {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.fa-hand-holding-usd {
    color: #fff;
    margin-bottom: 10px;
}

.fa-toolbox {
    color: #fff;
    margin-bottom: 10px;
}

.fa-users {
    color: #fff;
    margin-bottom: 10px;
}

.fa-chart-pie {
    color: #fff;
    margin-bottom: 10px;
}

.fa-instagram {
    color: #fff;
    margin-bottom: 10px;
}

.montserrat-fourteen {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.tria-cinco {
    position: absolute;
    right: 0em;
    top: 281.4em;
    width: 0;
    height: 0; 
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-right: 200px solid #347EFD;    
}

.bg-light {
    padding: 1em;
    border: none;
    border-radius: 10px;
}

.montserrat-fifteen {
    margin-top: 0;
    margin-bottom: 1em;
    color: #f7c631;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

.slogan {
    font-size: 35px;
    color: #000000;
}

.action {
    margin: 0 auto;
    float: none;
    margin-bottom: 0;
    width: 60%;
}

.explain {
    padding: 0;
    margin: 0;
}

.subtext {
    font-size: 25px;
    color: #000000;
}

.context {
    padding: 0;
    margin: 0;
}

.context dl {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 0;
    margin: 0;
}

.context dt {
    font-family: 'lato', sans-serif;
    color: #347EFD;
    font-size: 40px;
    float: left;
    width: 10%;
    background: #fff;
    padding: 15px;
    margin-top: 10px;
}

.context dd {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    float: left;
    width: 90%;
    background: #fff;
    padding: 15px;
    margin-top: 10px;
}

.subtitle {
    font-size: 25px;
    color: #347EFD;
}

.human {
    padding: 2px 16px;
}

.business {
    padding: 2px 16px;
}

.button {
    color: #fff;
    width:  100%; 
    padding: 1em;
    font-size: 20px;
    background: #a1a1a1;
    border-radius: 10px;
}

.button:hover,
.button:focus {
    background-color: #347EFD;
    color: #fff;
    transition: background-color 1s ease-out;
}

.center {
    left: 50%;
}

footer {
    background: #304b8a;
    padding:30px 0 30px 0;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

.about ul {
    list-style: none;
}

.card {
    border: none;
    background-color: transparent;
}

.unique {
    color: #347EFD;
}

.target {
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.target strong {
    color: #347EFD;
}

.contact {
    margin: 10px;
    vertical-align: middle;
}