body {
    font-family: 'Quicksand', sans-serif;
    background:#ffffff
}

header {
    margin-top: 75px;
}

.center{
    left: 50%;
}
footer {
    background: #0072ff;
    padding:30px 0 30px 0;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

.about ul {
    list-style: none;
}

.about ul li {
    padding: .3em;
}

.button:hover,
.button:focus {
    background-color: #0072ff;
    color: #fff;
    transition: background-color 1s ease-out;
}

.button {
    color: #fff;
    width:  100%;
    padding: .7em;
    border: none;
    background: #5cb85c;
    border-radius: 10px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}
.unique {
    color: #0072ff;
}

.block {
    padding: 1em;
}

.block strong {
    color: #0072ff;
}

.target {
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.target strong {
    color: #0072ff;
}

.card {
    border: none;
}

#info-one {
text-align: center;
}

.contact {
    margin: 10px;
    vertical-align: middle;
}